.contact {
  display: grid;
  grid-template-columns: 50% 50%;
  color: white;
  width: 100vw;
  font-family: "EB Garamond";
  z-index: 1;
}

.contactContent {
  position: relative;
  padding: var(--header-height) 4rem 4rem 4rem;
  text-align: justify;
  z-index: -1;
}

.contactTitle {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 4rem;
  font-size: 36px;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 5s ease-out;
  will-change: opacity, visibility;
}

.contactTitle.isVisible {
  opacity: 1;
  visibility: visible;
}

.contactVideo {
  position: absolute;
  z-index: 0;
  object-fit: contain;
  top: 0;
  width: calc(100% - 8rem);
}

.contactTitleStart {
  font-family: "Monsieur La Doulaise", cursive;
  color: #927018;
  font-size: 72px;
}

.contactText {
  position: relative;
  font-size: 28px;
  line-height: 1.75;
  z-index: 1;
  margin: 1rem 0;
}

.contactSubtitle {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-size: 28px;
  margin-top: 2rem;
}

.contactTopSubtitle {
  margin-top: 4rem;
}

.contactSubtitleStart {
  font-family: "Monsieur La Doulaise", cursive;
  color: #927018;
  font-size: 56px;
}

.contactSubtext {
  position: relative;
  font-size: 24px;
  z-index: 1;
}

.contactLink:hover {
  transition: 0.5s;
  color: var(--primary-color);
}
