.contact {
  display: grid;
  grid-template-columns: 50% 50%;
  color: white;
  width: 100vw;
  font-family: "EB Garamond";
  font-style: italic;
}

.contactContent {
  position: relative;
  padding: var(--header-height) 4rem 4rem 4rem;
  text-align: justify;
}

.contactContentLeft {
  display: none;
}

.contactTitle {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 4rem;
  font-size: 36px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 5s ease-out;
  will-change: opacity, visibility;
}

.contactTitle.isVisible {
  opacity: 1;
  visibility: visible;
}

.contactVideo {
  position: absolute;
  object-fit: contain;
  top: 0;
  width: calc(100% - 8rem);
}

.contactTitleStart {
  font-family: "Monsieur La Doulaise", cursive;
  color: #927018;
  font-size: 72px;
}

.contactText {
  position: relative;
  font-size: 28px;
  line-height: 1.75;
  margin: 1rem 0;
}

.contactSubtitle {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-size: 28px;
  margin-top: 2rem;
}

.contactTopSubtitle {
  margin-top: 4rem;
}

.contactSubtitleStart {
  font-family: "Monsieur La Doulaise", cursive;
  color: #927018;
  font-size: 56px;
}

.contactSubtext {
  position: relative;
  font-size: 24px;
}

.contactLink {
  display: inline-block;
  color: var(--primary-color);
}

.contactLink:hover {
  transition: 0.5s;
  color: var(--secondary-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .contactContent {
    padding: 4rem 10% 0 10%;
  }

  .contact {
    grid-template-columns: 100%;
    margin-top: 4rem;
  }

  .contactContentLeft {
    display: block;
  }

  .contactContentRight {
    display: none;
  }

  .contactTitle {
    font-size: 24px;
    margin-top: 0;
  }

  .contactTitleStart {
    font-size: 48px;
  }

  .contactText {
    font-size: 18px;
  }

  .contactTopSubtitle {
    margin-top: 0;
  }

  .contactSubtitle {
    font-size: 18px;
  }

  .contactSubtitleStart {
    font-size: 36px;
  }

  .contactSubtext {
    font-size: 16px;
  }
}

@media (max-width: 300px) {
  .contactTitle {
    font-size: 20px;
  }

  .contactTitleStart {
    font-size: 40px;
  }

  .contactText {
    font-size: 16px;
  }

  .contactSubtitle {
    font-size: 14px;
  }

  .contactSubtitleStart {
    font-size: 28px;
  }

  .contactSubtext {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (min-height: 1000px) {
  .contactTitle {
    font-size: 24px;
    margin-top: 0;
  }

  .contactTitleStart {
    font-size: 48px;
  }

  .contactText {
    font-size: 18px;
  }

  .contactSubtitle {
    font-size: 18px;
  }

  .contactSubtitleStart {
    font-size: 36px;
  }

  .contactSubtext {
    font-size: 16px;
  }
}
