.gallery {
  display: grid;
  grid-template-columns: 60% 40%;
  color: white;
  height: 100vh;
  width: 100vw;
  font-family: "EB Garamond";
  font-style: italic;
  overflow: visible;
}

.galleryContent {
  position: relative;
  padding: var(--header-height) 4rem 4rem 4rem;
  text-align: justify;
}

.galleryContainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: calc(50% - 2px) calc(50% - 2px);
  column-gap: 4px;
  row-gap: 4px;
}

.galleryTitle {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 4rem;
  font-size: 36px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 5s ease-out;
  will-change: opacity, visibility;
}

.galleryTitle.isVisible {
  opacity: 1;
  visibility: visible;
}

.galleryVideo {
  position: absolute;
  object-fit: contain;
  bottom: 0;
  width: calc(100% - 8rem);
}

.galleryTitleStart {
  font-family: "Monsieur La Doulaise", cursive;
  color: #927018;
  font-size: 72px;
}

.galleryVideo {
  position: absolute;
  object-fit: contain;
  top: 0;
  width: calc(100% - 8rem);
}

.galleryText {
  position: relative;
  font-size: 28px;
  line-height: 1.75;
  margin: 1rem 0;
}

.galleryPhoto {
  object-fit: cover;
}

#photo1 {
  width: 90%;
  margin: auto;
  aspect-ratio: 9 / 15;
  object-position: center 20%;
  grid-column: 1 / 3;
  grid-row: 1;
}

#photo2 {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-position: center 30%;
  grid-column: 1;
  grid-row: 2;
}

#photo3 {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-position: center 30%;
  grid-column: 2;
  grid-row: 2;
}

#photo4 {
  grid-column: 2;
  grid-row: 4;
}

#photo6 {
  grid-column: 1;
  grid-row: 3;
}

#photo7 {
  grid-column: 2;
  grid-row: 1;
}

@media (max-width: 768px) {
  .galleryContent {
    padding: 4rem 10% 0 10%;
  }

  .gallery {
    height: fit-content;
    grid-template-columns: 100%;
    margin-top: 4rem;
  }

  .galleryTitle {
    margin-top: 0;
  }

  .galleryTitle {
    font-size: 24px;
    margin-top: 0;
  }

  .galleryTitleStart {
    font-size: 48px;
  }

  .galleryText {
    font-size: 18px;
  }
}

@media (max-width: 300px) {
  .galleryTitle {
    font-size: 20px;
  }

  .galleryTitleStart {
    font-size: 40px;
  }

  .galleryText {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (min-height: 1000px) {
  .gallery {
    height: fit-content;
  }

  .galleryTitle {
    font-size: 24px;
    margin-top: 0;
  }

  .galleryTitleStart {
    font-size: 48px;
  }

  .galleryText {
    font-size: 18px;
  }
}
