.header {
  height: var(--header-height);
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 28px;
  position: fixed;
  width: 100%;
  font-family: "EB Garamond", serif;
  font-style: italic;
  padding: 0;
  z-index: 2;
}

.header:hover {
  transition: 0.5s;
  background-color: var(--bg-color-transparent);
}

.navContainer {
  display: flex;
  align-items: right;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 calc((var(--space) / 2));
}

.link {
  text-decoration: none;
}

.logo {
  width: var(--header-height);
  height: var(--header-height);
  fill: var(--title-color);
}

.logo:hover {
  transition: 0.5s;
  fill: var(--primary-color);
}

.nav {
  display: flex;
  align-items: stretch;
  justify-content: right;
  gap: 100px;
  flex: 1;
  height: 100%;
  margin-left: 0.75rem;
}

@media (max-width: 650px) {
  .nav {
    display: none;
  }
}

.nav > a {
  color: white;
}

.nav > a:hover {
  color: var(--primary-color);
}

.navLink {
  color: white;
  position: relative;
  margin: 0 0.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navLink:hover {
  transition: 0.5s;
  cursor: pointer;
  color: var(--primary-color);
}

.navLink:before {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--primary-color);
  height: 2px;
  transition: right 0.2s ease-out;
}

.navLink:hover:before {
  right: 0;
}
